.todo-form {
  display: block;
  border: 3px rgb(249, 179, 179) solid;
  padding: 20px;
}

.todo-list {
  display: flex;
  text-align: center;
}

.todo-input {
  display: block;
}

.bp4-card {
  margin: 10px 20px;
  width: 200px;
}